{% import 'macros/macros.html.twig' as macros %}

<div class="learn-brand">
    <div id="header">
        <a id="logo" href="{{ theme_config.home_url ?: base_url_absolute }}">{% include 'partials/logo.html.twig' %}</a>
        <div class="search-options">
            <a href="{{ url('search') }}" data-algolia-pro-trigger>
                <div class="adv-search column col-12"><i class="fa fa-search"></i> Suche <em>&nbsp;&nbsp;[CTRL]+[k]</em></div>
            </a>
        </div>
    </div>
</div>
<div class="learn-nav" data-simplebar>
    <div class="highlightable">
        {% if theme_config.top_level_version %}
            {% for slug, ver in pages.children %}
                {{ macros.version(ver) }}
                <ul class="was" id="{{ slug }}" class="topics">
                    {{ macros.loop(ver, '') }}
                </ul>
            {% endfor %}
        {% else %}
            <ul class="topics">
                {% if theme_config.root_page %}
                    {{ macros.loop(page.find(theme_config.root_page), '') }}
                {% else %}
                    {{ macros.loop(pages, '') }}
                {% endif %}
            </ul>
        {% endif %}

        <a class=" padding" href="https://www.ludothekprogramm.ch/support/forum" target="_blank">
            <i class="fa fa-fw fa-question-circle"></i> Support-Forum
        </a><br/><br/>
        <hr/>
        <br/>
        <a class="side-tools padding" href="#" data-clear-history-toggle>
            <i class="fa fa-fw fa-history"></i> {{ 'THEME_LEARN4_CLEAR_HISTORY'|t }}
        </a><br/>
    </div>
</div>
