{% set active_html = 'class="active"' %}
{% set is_configure = route.gravParam('') is same as('configure') %}
{% set authorize = 'admin.search' %}

{% if allowed %}
<div class="form-tabs">
    <div class="tabs-nav">
        {% if user.authorize(authorize) or user.authorize('admin.super') %}
        <a {{ is_configure ? active_html|raw }} href="{{ admin_route('/algolia-pro/configure') }}">
            <span>Plugin Configuration</span>
        </a>
        {% endif %}

        {% for name,title in {'search': 'Algolia Indexes'} %}
            {% set current = flex.directory(name) %}
            {% if current and current.isAuthorized('list', 'admin', user) %}
                {% set active = not is_configure and nav_route|starts_with(flex.adminRoute(current)|trim('/') ~ '/') %}
                <a {{active ? active_html|raw }} href="{{ admin_route(flex.adminRoute(current)) }}">
                    <span>{{ title|tu }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
